<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Getpass</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tables/create" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Create GP
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tables">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Past Gate Pass
            </NavLink>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <p style="Color:#FFFFFF; margin:20px;">H.D.Dakshina Prasad &copy</p>
    </nav>
</div>

