@page "/About"
    
<h3>About</h3>
This Software created by Dakshina Prasad and  this is basic CURD System :) :) :)
<br />
<br />
and it obtain the MIT Licences to public edite and Reuse :)
If any quection or any crafication pls free to ask
<br />
<br />
All Copy rights - H.D.Dakshina Prasad &copy;


@code {

}
