@page "/"

<PageTitle>GP System</PageTitle>

<h1>GP System</h1>
<p> GP System in Fleataable is an application that streamlines the process of logging vehicles, visitors, and materials coming in and out of a premises. Rather than having to rely on manual entries and paper logs, which can be both tedious and time-consuming, the system is equipped with an interface that allows you to approve requests in real time and set permissions for different users so that they can only approve requests that they are authorized to give permission for.</p>
<ul>
    <li>Easy-to-use : Fleataable Gatepass Management System automates a complicated process and yet, it is extremetly easy to use.</li>
     <li> Accountability : Guards and staffs are made more accountable since the system cannot be tampered with.</li>
     <li> Foolproof : Fleataable Gatepass Management System is based on cloud technology, and therefore reduces manual errors.</li>
     <li>Secure Data : With Fleetable all data is continuously backed up. We assure complete data security and guarantee.</li> 
</ul>





